__pycache__/
*.py[cod]
.env
*/__pycache__
.idea
/venv/
MathTest/settings_local.py
db.sqlite3
frontend/public
frontend/src
frontend/node_modules
frontend/.gitignore
frontend/package-lock.json
frontend/package.json
frontend/README.md