<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Прототипы задач</title>
</head>
<body>

<script type="application/javascript">
    let con = new XMLHttpRequest();
    con.open('GET', `/api/problem_prototypes`, false);
    con.withCredentials = true;
    con.send();
    let response = JSON.parse(con.response);
    for (i = 0; i < response.length; i++) {
        let div = document.createElement('div');
        div.appendChild(document.createTextNode(response[i].name));
        document.body.appendChild(div)
    }
</script>
</body>
</html>